In [24]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score



etudiants = pd.read_csv("TB_ETUDIANT.csv", encoding='latin-1', delimiter=";")

#creation de dataframe
df = pd.DataFrame(etudiants)

df

,ID_ETUDIANT,Sexe,MoyenneBac,Orientation,NotesMaths,NotesFrançais,NotesPhysChimie,NotesSVT,NotesAnglais,Interets1,Interets2,choixOrientation
0,ET001,F,15.0,L,16.0,16.0,12.75,8.00,6.0,Biologie,Biosciences,Chimie
1,ET002,F,10.0,S,7.0,15.0,20.00,20.00,13.0,Finance / Comptabilité / Statistiques,Business Administration,Business Administration
2,ET003,F,10.0,S,14.0,17.0,17.00,17.00,9.0,Physiques,Biosciences,Biosciences
3,ET004,F,15.0,S,7.0,16.0,12.75,8.00,19.0,Informatique,Genie Logiciel,Informatique
4,ET005,F,12.0,S,9.0,13.0,19.00,19.00,15.0,Informatique,Genie Logiciel,Genie Logiciel
...,...,...,...,...,...,...,...,...,...,...,...,...
1142,ET1145,M,10.0,S,9.0,13.5,14.00,18.00,6.0,Banque / Assurance,Mathematiques,Finance Banque
1143,ET1146,M,14.0,S,20.0,20.0,20.00,12.00,13.0,Anglais,Genie Logiciel,Genie Logiciel
1144,ET1147,M,13.0,S,19.0,19.0,10.00,12.25,9.0,Chimie,Psychologie,Biosciences
1145,ET1148,F,10.0,S,20.0,20.0,17.00,13.50,19.0,Anglais,Genie Logiciel,Genie Logiciel
1146,ET1149,F,12.0,S,17.0,20.0,20.00,20.00,18.0,Biologie,Psychologie,Psychologie

In [25]:
df.info()

df.describe().round(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1147 entries, 0 to 1146
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_ETUDIANT       1147 non-null   object
 1   Sexe              1147 non-null   object
 2   MoyenneBac        1147 non-null   float64
 3   Orientation       1147 non-null   object
 4   NotesMaths        1147 non-null   float64
 5   NotesFrançais     1147 non-null   float64
 6   NotesPhysChimie   1147 non-null   float64
 7   NotesSVT          1147 non-null   float64
 8   NotesAnglais      1147 non-null   float64
 9   Interets1         1147 non-null   object
 10  Interets2         1147 non-null   object
 11  choixOrientation  1147 non-null   object
dtypes: float64(6), object(6)
memory usage: 107.7+ KB

,MoyenneBac,NotesMaths,NotesFrançais,NotesPhysChimie,NotesSVT,NotesAnglais
count,1147.00,1147.00,1147.00,1147.00,1147.00,1147.00
mean,12.62,12.96,13.81,13.56,13.62,13.31
std,2.10,4.15,3.45,3.60,3.63,3.75
min,10.00,6.00,8.00,8.50,7.00,6.00
25%,11.00,10.00,11.00,10.00,11.00,11.00
50%,12.00,13.00,13.00,13.00,13.00,13.00
75%,14.00,16.00,17.00,17.00,17.00,17.00
max,19.00,20.00,20.00,20.00,20.00,19.00

In [26]:
le_interets = LabelEncoder()
#le_interets2 = LabelEncoder()
le_interets.fit(df['Interets2'])
le_interets.fit(df['Interets1'])


df['Interets2'] = le_interets.fit_transform(df['Interets2'])
df['Interets1'] = le_interets.fit_transform(df['Interets1'])

# Séparation des variables indépendantes (X) et de la variable cible (y)
X = df[['MoyenneBac', 'NotesMaths', 'NotesFrançais', 'NotesPhysChimie', 'NotesSVT', 'NotesAnglais',  'Interets1', 'Interets2']]
y = df['choixOrientation']

# Division des données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

# Initialisation du modèle k-NN
knn = KNeighborsClassifier(n_neighbors=3)

# Entraînement du modèle
knn.fit(X_train, y_train)

# Prédiction sur l'ensemble de test
y_pred = knn.predict(X_test)

# Évaluation du modèle
accuracy = accuracy_score(y_test, y_pred)
print(f"Précision du modèle k-NN : {accuracy}")

Précision du modèle k-NN : 0.4666666666666667

In [27]:
nouvel_etudiant = {
    'MoyenneBac' : 15,
    'NotesMaths': 19,
    'NotesFrançais': 19,
    'NotesPhysChimie': 19,
    'NotesSVT': 19,
    'NotesAnglais': 15,
    'Interets1': 'Informatique',  
    'Interets2': 'Biologie'  
}

nouvel_etudiant_df = pd.DataFrame([nouvel_etudiant])

nouvel_etudiant_df

# Conversion des variables catégorielles en variables numériques en utilisant les mêmes encodeurs que lors de l'entraînement
nouvel_etudiant_df['Interets2'] = le_interets.fit_transform(nouvel_etudiant_df['Interets2'])
nouvel_etudiant_df['Interets1'] = le_interets.fit_transform(nouvel_etudiant_df['Interets1'])


# Prédiction avec le modèle k-NN
prediction = knn.predict(nouvel_etudiant_df)

# Affichage des recommandations
print("Recommandations d'orientation pour le nouvel étudiant :")
for i, prediction in enumerate(prediction):
    print(f"Prédiction {i + 1}: {prediction}")

Recommandations d'orientation pour le nouvel étudiant :
Prédiction 1: Anglais